:root {
    --main-text-color: #ffffff;
    --muted-text-color: #d1d1d1;

    --main-bg-color: #141414;
    --muted-main-bg-color: #222222;
    --secondary-bg-color: rgb(47, 3, 105);
    --muted-secondary-bg-color: rgba(47, 3, 105, 0.6);

    --main-accent: rgb(71, 185, 157);
    --main-accent-light: rgba(71, 185, 157, 0.3);
    --secondary-accent: rgb(218, 141, 0);
    --secondary-accent-light: rgba(218, 141, 0, 0.3);
}

body {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.bold {
    font-size: 1.1em;
    font-weight: bold;
}
.muted {
    color: var(--muted-text-color);
}
.centered {
    text-align: center;
}
.highlight {
    color: var(--secondary-accent);
    font-weight: bold;
    font-size: 1.2em;
}
.flex-container {
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.flex-container.show {
    display: flex;
}

.three-board-container {
    width: 70vw;
    max-width: 1300px;
    display: grid;
    grid-template-areas:
        "myadd myadd"
        "mylist mychart"
        "mylist mychart";
    grid-template-rows: fit-content 3fr;
    grid-template-columns: 2fr 3fr;
}

@media screen and (max-width: 900px) {
    .three-board-container {
        max-width: 90vw;
        grid-template-areas:
            "myadd"
            "mylist"
            "mychart";
        grid-template-rows: 1fr 3fr 3fr;
        grid-template-columns: 1fr;
    }
}
.board-elem {
    margin: 10px;
    border-radius: 10px;
    background-color: var(--muted-main-bg-color);
    box-shadow: 0 0 5px 5px var(--main-accent);
}
.board-heading {
    color: var(--secondary-accent);
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    margin-bottom: 7px;
}
.list-expenses-container .board-heading {
    padding: 10px;
}
.add-expenses-container {
    grid-area: myadd;
    padding: 10px;
}

.list-expenses-container {
    grid-area: mylist;
}

.chart-expenses-container {
    padding: 10px;
    grid-area: mychart;
}

.main-button {
    color: var(--main-text-color);
    background-color: var(--secondary-bg-color);
    margin: 5px 0;
    padding: 10px 14px;
    border-radius: 10px;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, background-image 3s ease, box-shadow 0.1s ease;
}
.main-button:not(:disabled):hover {
    color: var(--main-text-color);
    background-image: linear-gradient(to right, var(--secondary-bg-color), var(--main-accent));
}
.main-button:not(:disabled):active {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
}
.main-button:disabled {
    color: var(--muted-text-color);
    background-color: var(--muted-secondary-bg-color);
}

.main-input {
    padding: 10px 14px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 1.1em;
    border-radius: 4px;
    border: none;
}
input[type="number"].main-input {
    width: 80px;
}

.expense-list {
}

.expense-item {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}

.expense-list .expense-item:nth-child(odd) {
    background-color: var(--main-accent-light);
}

.expense-item .expense-name, .expense-item .expense-value {
    font-weight: bold;
}
/* 
.expense-item.fill {
    background-color: var(--main-accent-light);
} */